<script type="text/javascript">
    "use strict";

    var inputDatePicker = $('input[name="datefilter"]');

    $(function() {
        inputDatePicker.daterangepicker({
            "minYear": 1970,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment()]
            },
            "locale": {
                "format": "YYYY/MM/DD"
            },
            "alwaysShowCalendars": true,
            "startDate": moment().startOf('month'),
            "endDate": moment().endOf('month')
        });

        window.initializeAjaxRequest();
    });

    inputDatePicker.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
    });
    inputDatePicker.on('cancel.daterangepicker', function() {
        $(this).val('');
    });

    $('.btn-stats-calendar').on('click', function(event) {
        event.preventDefault();
        $('input[name="datefilter"]').click();
    });

    $('.btn-stats-calendar-remove').on('click', function(event){
        event.preventDefault();
        $('#form_daterangepicker').val('');
    });

    $('.btn-stats-search-remove').on('click', function(event){
        event.preventDefault();
        $('#title').val('');
    });

    $('.ripple-wrapper').on('click', function(event) {
        event.preventDefault();
        $('#form_daterangepicker').val('');
        $('#title').val('');
    });

    /*$('.applyBtn').on('click', function(event) {
        event.preventDefault();
        var data = window.prepareSearch();
    });

    $('.btn-stats-search').on('click', function(event) {
        event.preventDefault();

        var data = window.prepareSearch();

        window.most_viewed_series(data['criteria'], data['from_date'], data['to_date'], 0);
    });*/

    window.defaultAjaxValues = function() {
        return {
            'from_date': moment().startOf('year').format('YYYY-MM-DD'),
            'to_date': moment().endOf('month').format('YYYY-MM-DD'),
            'page': 0
        }
    };

    window.initializeAjaxRequest = function() {
        {% if app.request.get('_route') == 'pumukit_stats_series_index' %}
            window.most_viewed_series(null,null,0);
            window.views(null,null,0);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index' %}
            window.most_viewed_mmojb(null,null,0);
            window.views(null,null,0);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_series_index_id' %}
            var series = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_series_by_id(series, null, null, 0);
            window.views_series(series, null,null, 0);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index_id' %}
            var mmobj = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_mmobj_by_id(mmobj, null, null, 0);
            window.views_mmobj(mmobj, null, null, 0);
        {% endif %}
    };

    window.prepareSearch = function() {
        var criteria = $('#title').val();
        var dates = $('#form_daterangepicker').val().split("-");
        var from_date = dates[0].trim().replace(/\//g, "-");
        var to_date = dates[1].trim().replace(/\//g, "-");

        return {
            'criteria': criteria,
            'from_date': from_date,
            'to_date': to_date
        };
    };

    window.most_viewed_series = function(criteria, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_seriesmostviewed') }}',
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10
            },
            success: function(response) {
                var series = response.series;
                var i = 1;
                var locale = "{{ app.request.getLocale() }}";
                var path = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";
                $('.total-objects').html(response.total);
                if(criteria != null) {
                    $('.most-viewed-table-body').html('');
                }
                series.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.series.id) + "'>" +
                        data.series.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='videos' id='" +  data.series.id +"'>" + 0 + "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    window.getInfoSeries(data.series.id);
                    i = i + 1;
                });

                //window.initializeChartMostViewed(response.series);
            }
        });
    };

    window.getInfoSeries = function(series, from_date, to_date) {
        $.ajax({
            url: "{{ path('pumukit_schema_api_multimediaobjects') }}",
            type: 'GET',
            data: {
                criteria: {
                    'series': series
                },
                from_date: from_date,
                to_date: to_date
            },
            success: function(response) {
                $('#'+series).html(response.total);
            }
        });
    };

    window.getInfoMmobj = function(mmobj, from_date, to_date) {
        $.ajax({
            url: "{{ path('pumukit_stats_api_viewsmmobj') }}",
            type: 'GET',
            data: {
                mmobj: mmobj,
                from_date: from_date,
                to_date: to_date
            },
            success: function(response) {
                var views = response.views;
                var total = 0;
                views.forEach(function(element){
                    total = total + element.numView;
                });
                $('#'+mmobj).html(total);
                $('.total-views-objects').html(total);
            }
        });
    };

    window.most_viewed_series_by_id = function(series, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_mmobjmostviewed') }}',
            type: 'GET',
            data: {
                criteria: {
                    'series': series
                },
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10
            },
            success: function(response) {
                var mmobjs = response.mmobjs;
                var i = 1;
                var locale = "{{ app.request.getLocale() }}";
                var path = "{{ path('pumukit_stats_mmobj_index_id',{'id': '__ID__'}) }}";

                $('.total-objects').html(response.total);
                mmobjs.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.mmobj.id) + "'>" +
                        data.mmobj.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='recording'>" + moment(data.mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                        "<td headers='series'>" + data.mmobj.series.title[locale] + "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    i = i + 1;
                });

                //window.initializeChartMostViewed(response.series);
            }
        });
    };

    window.most_viewed_mmobj_by_id = function(mmobj, from_date, to_date, page) {
        if (from_date == null && to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_schema_api_multimediaobjects') }}',
            type: 'GET',
            data: {
                criteria: {
                    'id': mmobj
                },
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit: 10
            },
            success: function (response) {
                var mmobj = response.mmobjs;
                var i = 1;
                var locale = "{{ app.request.getLocale() }}";
                var id = "{{ app.request.attributes.get('id') }}";
                var url = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";

                $('.most-viewed-table-body').append(
                    "<tr>" +
                    "<td headers='ranking'>" + i + "</td>" +
                    "<td headers='title'>" +
                    mmobj[id].title[locale] +
                    "</td>" +
                    "<td headers='recording'>" + moment(mmobj[id].record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                    "<td headers='series'>" +
                    "<a href='" + url.replace('__ID__', mmobj[id].series.id) + "'>" +
                    mmobj[id].series.title[locale] +
                    "</a>" +
                    "</td>" +
                    "<td headers='views' id='"+ id +"'>" + 0 + "</td>" +
                    "</tr>"
                );
                window.getInfoMmobj(id, from_date, to_date);
                window.showMmobj(mmobj[id]);
                $('.title_of_most_viewed').html(mmobj[id].series.title[locale]);
            }
        });
    };

    window.views_series = function(series, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_viewsseries') }}',
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10,
                series: series,
                group_by: 'month'
            },
            success: function(response) {
                var objects = response.views;
                var total = 1;
                objects.forEach(function(data) {
                    total = total + data.numView;
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format('MMMM YYYY') + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%;'>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

            }
        });
    };

    window.views_mmobj = function(mmobj, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_viewsmmobj') }}',
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10,
                mmobj: mmobj,
                group_by: 'month'
            },
            success: function(response) {
                var objects = response.views;
                var total = 1;
                objects.forEach(function(data) {
                    total = total + data.numView;
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format('MMMM YYYY') + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%;'>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

            }
        });
    };

    window.most_viewed_mmojb = function(from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_mmobjmostviewed') }}',
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10
            },
            success: function(response) {
                var mmobjs = response.mmobjs;
                var i = 1;
                var locale = "{{ app.request.getLocale() }}";
                var path = "{{ path('pumukit_stats_mmobj_index_id',{'id': '__ID__'}) }}";
                var url = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";
                $('.total-objects').html(response.total);
                mmobjs.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.mmobj.id) + "'>" +
                        data.mmobj.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='recording'>" + moment(data.mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                        "<td headers='series'>" +
                        "<a href='" + url.replace('__ID__', data.mmobj.series.id) + "'>" +
                        data.mmobj.series.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    i = i + 1;
                });

                //window.initializeChartMostViewed(response.series);
            }
        });
    };

    window.views = function(from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        $.ajax({
            url: '{{ path('pumukit_stats_api_views') }}',
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10
            },
            success: function(response){
                var objects = response.views;
                var total = 0;
                objects.forEach(function(data) {
                    total = total + data.numView;
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format('MMMM YYYY') + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%; '>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

                //window.initializeChartAllViews(response.views);

            }
        });
    };

    window.showMmobj = function(mmobj) {
        var url = "{{ path('pumukit_webtv_multimediaobject_index', {'id' : '__ID__' }) }}";
        var locale = "{{ app.request.getLocale() }}";
        $('#chart-most-viewed').html(
                    "<a href='" +
                    url.replace('__ID__', mmobj._id) +
                    "' target='_blank'>" +
                    "<div class='pumukit_mmobj'>"  +
                    "<div class='thumbnail'>" +
                    "<span class='play_icon'></span>" +
                    "<img title='serial_pic' class='serial thumbnailimg' " +
                    "src=" + mmobj.pics[0].url  + " /> " +
                    "<div class='thumbnailholder'></div></div>" +
                    "<div class='info-wrapper'>" +
                    "<div class='info'>" +
                    "<div class='title' title='"+ mmobj.title[locale] + "'>" +
                    "<span class='mmobj_thumbnail_title'>" + mmobj.title[locale] + "</span>" +
                    "</div>" +
                    "<div class='subtitle'>" +
                    "<abbr title='Prueba Teltek'>"+ mmobj.subtitle[locale] +"</abbr>" +
                    "</div>" +
                    "<div class='date mmobj'>" +
                        moment(mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') +
                    "</div>" +
                    "</div></div></div>"
        );

    };

    window.createPager = function() {
        // Create paginator;
    }

    /*window.initializeChartMostViewed = function(data) {
        nv.addGraph(function(data) {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 30, right: 20, bottom: 50, left: 175})
                .showValues(true)
                .tooltips(false)
                .showControls(false);

            chart.yAxis
                .tickFormat(d3.format(',.2f'));

            d3.select('#chart-all-views svg')
                .datum(data)
                .transition().duration(500)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    };*/

    /*window.initializeChartAllViews = function(data) {

        var new_data = [];
        data.forEach(function(element) {
            var timestamp = moment(element['_id'],'YYYY MM').valueOf();
            new_data.push([
                timestamp,
                element.numView
            ]);
        });

        console.log(new_data);
        var new_data2 = [
            {
                "key" : "Quantity",
                "bar": true,
                "values" : new_data
            }
        ];
        console.log(new_data2);

        nv.addGraph(function() {
            var chart = nv.models.linePlusBarChart()
                .margin({top: 30, right: 60, bottom: 50, left: 70})
                .x(function(d,i) { return i })
                .y(function(d) { return d[1] })
                .color(d3.scale.category10().range())
            ;

            chart.xAxis
                .showMaxMin(false)
                .tickFormat(function(d) {
                    var dx = data[0].values[d] && data[0].values[d][0] || 0;
                    return d3.time.format('%x')(new Date(dx))
                });

            chart.y1Axis
                .tickFormat(d3.format(',f'));

            chart.y2Axis
                .tickFormat(function(d) { return '$' + d3.format(',f')(d) });

            chart.bars.forceY([0]);

            d3.select('#chart-all-views svg')
                .datum(new_data2)
                .transition().duration(500)
                .call(chart)
            ;

            nv.utils.windowResize(chart.update);

            return chart;
        });
    };*/
</script>