<script type="text/javascript">
    "use strict";

    var inputDatePicker = $('input[name="datefilter"]');
    var locale = "{{ app.request.getLocale() }}";
    var page = "{{ app.request.get('page')|default(0) }}";
    $('.day').removeClass('active-button');
    $('.month').addClass('active-button');
    $('.year').removeClass('active-button');

    window.initDateRangePicker = function() {
        inputDatePicker.daterangepicker({
            "minYear": 1970,
            "maxDate": moment().format('YYYY-MM-DD'),
            ranges: {
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment()]
            },
            "locale": {
                "format": "YYYY-MM-DD"
            },
            "linkedCalendars": false,
            "alwaysShowCalendars": true,
            "showDropdowns": true,
            "startDate": moment().startOf('year').format('YYYY-MM-DD'),
            "endDate": moment().format('YYYY-MM-DD')
        });
    };

    $(function() {
        window.initDateRangePicker();
        /* No used because event on change on datepicker will be execute */
        //window.initializeAjaxRequest();
    });

    inputDatePicker.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
    });

    inputDatePicker.on('cancel.daterangepicker', function() {
        $(this).val('');
    });

    $('.btn-stats-calendar').on('click', function(event) {
        event.preventDefault();
        inputDatePicker.click();
    });

    $('.btn-stats-calendar-remove').on('click', function(event){
        event.preventDefault();
        $('#form_daterangepicker').val(moment().startOf('year').format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));
        window.initDateRangePicker();
        window.initializeAjaxRequest();
    });

    $('.btn-stats-search-remove').on('click', function(event){
        event.preventDefault();
        $('#title').val('');
        var data = window.prepareSearch();
        window.getAjaxRequest(data);
    });

    $('.btn-reset-filter').on('click',function(event) {
        event.preventDefault();
        $('#title').val('');
        $('#form_daterangepicker').val(moment().startOf('year').format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));
        window.initDateRangePicker();
        window.initializeAjaxRequest();
    });

    $('.ripple-wrapper').on('click', function(event) {
        event.preventDefault();
        $('#form_daterangepicker').val('');
        $('#title').val('');
        var data = window.prepareSearch();
        window.getAjaxRequest(data);
    });

    $('.btn-stats-search-text').on('click', function(event) {
        event.preventDefault();
        var data = window.prepareSearch();
        window.getAjaxRequest(data);
    });

    $('.btn-all-views-group').on('click', function(event) {
        event.preventDefault();

        $('.day').removeClass('active-button');
        $('.month').removeClass('active-button');
        $('.year').removeClass('active-button');

        $('.'+$(this).data('group')).addClass('active-button');

        var group_by = $(this).data('group');
        var data = window.prepareSearch();
        window.getAjaxRequest(data, group_by);
    });

    $('.most-viewed-paginator').on('click', '.change_page', function(event) {
        event.preventDefault();

        var data = window.prepareSearch();
        var page_selected = $(this).data('value');
        location.search = "?page="+page_selected;

        {% if app.request.get('_route') == 'pumukit_stats_series_index' %}
        window.most_viewed_series(data['criteria'], data['from_date'], data['to_date'], page_selected);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index' %}
        window.most_viewed_mmobj(data['criteria'], data['from_date'], data['to_date'],page_selected);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_series_index_id' %}
        var series = "{{ app.request.attributes.get('_route_params')['id'] }}";
        window.most_viewed_series_by_id(series, data['criteria'], data['from_date'], data['to_date'], page_selected);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index_id' %}
        var mmobj = "{{ app.request.attributes.get('_route_params')['id'] }}";
        window.most_viewed_mmobj_by_id(mmobj, data['criteria'], data['from_date'], data['to_date'], page_selected);
        {% endif %}
    });

    inputDatePicker.on('change', function(event) {
        event.preventDefault();
        var data = window.prepareSearch();
        window.getAjaxRequest(data, 'month');
    });

    window.defaultAjaxValues = function() {
        return {
            'from_date': moment().startOf('year').format('YYYY-MM-DD'),
            'to_date': moment().format('YYYY-MM-DD'),
            'page': page,
            'group_by': 'month'
        }
    };

    window.getAjaxRequest = function(data, group_by) {

        if(group_by === '' || group_by === 'undefined') {
            group_by = 'month';
        }

        {% if app.request.get('_route') == 'pumukit_stats_series_index' %}
            window.most_viewed_series(data['criteria'], data['from_date'], data['to_date'], page);
            window.views(data['criteria'], data['from_date'], data['to_date'], 0, group_by);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index' %}
            window.most_viewed_mmobj(data['criteria'], data['from_date'], data['to_date'],page);
            window.views(data['criteria'], data['from_date'], data['to_date'], 0, group_by);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_series_index_id' %}
            var series = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_series_by_id(series, data['criteria'], data['from_date'], data['to_date'], page);
            window.views_series(series, data['criteria'], data['from_date'], data['to_date'], 0, group_by);
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index_id' %}
            var mmobj = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_mmobj_by_id(mmobj, data['criteria'], data['from_date'], data['to_date'], page);
            window.views_mmobj(mmobj, data['criteria'], data['from_date'], data['to_date'], 0, group_by);
        {% endif %}
    };

    window.initializeAjaxRequest = function() {
        {% if app.request.get('_route') == 'pumukit_stats_series_index' %}
            window.most_viewed_series(null,null,page);
            window.views(null, null,null,page, 'month');
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index' %}
            window.most_viewed_mmobj(null,null,page);
            window.views(null,null,null,page, 'month');
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_series_index_id' %}
            var series = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_series_by_id(series,null, null, null, page);
            window.views_series(series,null, null,null, page, 'month');
        {% endif %}

        {% if app.request.get('_route') == 'pumukit_stats_mmobj_index_id' %}
            var mmobj = "{{ app.request.attributes.get('_route_params')['id'] }}";
            window.most_viewed_mmobj_by_id(mmobj, null, null, null, page);
            window.views_mmobj(mmobj,null, null, null, page, 'month');
        {% endif %}
    };

    window.prepareSearch = function() {
        var criteria = $('#title').val();
        var dates = $('#form_daterangepicker').val().split(" - ");
        var from_date = dates[0].trim().replace(/\//g, "-");
        var to_date = dates[1].trim().replace(/\//g, "-");

        return {
            'criteria': criteria,
            'from_date': from_date,
            'to_date': to_date
        };
    };

    window.most_viewed_series = function(criteria, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        var url = "{{ path('pumukit_stats_api_seriesmostviewed') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit: 10,
                sort: -1
            },
            success: function(response) {
                var series = response.series;
                var i = 1;
                var path = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";
                $('.total-objects').html(response.total);
                $('.most-viewed-table-body').html('');
                series.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.series.id) + "'>" +
                        data.series.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='videos' id='" +  data.series.id +"'>" + 0 + "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    window.getInfoSeries(data.series.id);
                    i = i + 1;
                });

                window.createPager(response);
                data = window.prepareDataMostViewedSeries(response.series);
                window.initializeChartMostViewed(data);
            }
        });
    };

    window.prepareDataMostViewedSeries = function(data) {
        var values = [];
        data.forEach(function(element) {
            values.push({'label': element.series.title[locale], 'value': element.num_viewed });
        });
        return [{'key' : '', 'color': '#ED6D00', 'values': values}];
    };

    window.prepareDataMostViewedMmobj = function(data) {
        var values = [];
        data.forEach(function(element) {
            values.push({'label': element.mmobj.title[locale], 'value': element.num_viewed });
        });
        return [{'key' : '', 'color': '#ED6D00','values': values}];
    };

    window.getInfoSeries = function(series, from_date, to_date) {
        $.ajax({
            url: "{{ path('pumukit_schema_api_multimediaobjects') }}",
            type: 'GET',
            data: {
                criteria: {
                    'series': series
                },
                from_date: from_date,
                to_date: to_date,
                sort: -1
            },
            success: function(response) {
                $('#'+series).html(response.total);
            }
        });
    };

    window.getInfoMmobj = function(mmobj, from_date, to_date) {
        $.ajax({
            url: "{{ path('pumukit_stats_api_viewsmmobj') }}",
            type: 'GET',
            data: {
                mmobj: mmobj,
                from_date: from_date,
                to_date: to_date,
                sort: -1
            },
            success: function(response) {
                var views = response.views;
                var total = 0;
                views.forEach(function(element){
                    total = total + element.numView;
                });
                $('#'+mmobj).html(total);
                $('.total-views-objects').html(total);
            }
        });
    };

    window.most_viewed_series_by_id = function(series, criteria, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        var url = "{{ path('pumukit_stats_api_mmobjmostviewed') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                criteria: {
                    'series': series
                },
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10,
                sort: -1
            },
            success: function(response) {
                var mmobjs = response.mmobjs;
                var i = 1;
                var path = "{{ path('pumukit_stats_mmobj_index_id',{'id': '__ID__'}) }}";

                $('.total-objects').html(response.total);
                $('.most-viewed-table-body').html('');
                mmobjs.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.mmobj.id) + "'>" +
                        data.mmobj.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='recording'>" + moment(data.mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                        "<td headers='series'>" + data.mmobj.series.title[locale] + "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    i = i + 1;
                });

                window.createPager(response);
                data = window.prepareDataMostViewedMmobj(response.mmobjs);
                window.initializeChartMostViewed(data);
            }
        });
    };

    window.most_viewed_mmobj_by_id = function(mmobj, criteria, from_date, to_date, page) {
        if (from_date == null && to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        var url = "{{ path('pumukit_schema_api_multimediaobjects') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                criteria: {
                    'id': mmobj
                },
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit: 10,
                sort: -1
            },
            success: function (response) {
                var mmobj = response.mmobjs;
                var i = 1;
                var id = "{{ app.request.attributes.get('id') }}";
                var url = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";
                $('.most-viewed-table-body').html(
                    "<tr>" +
                    "<td headers='ranking'>" + i + "</td>" +
                    "<td headers='title'>" +
                    mmobj[id].title[locale] +
                    "</td>" +
                    "<td headers='recording'>" + moment(mmobj[id].record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                    "<td headers='series'>" +
                    "<a href='" + url.replace('__ID__', mmobj[id].series.id) + "'>" +
                    mmobj[id].series.title[locale] +
                    "</a>" +
                    "</td>" +
                    "<td headers='views' id='"+ id +"'>" + 0 + "</td>" +
                    "</tr>"
                );
                window.getInfoMmobj(id, from_date, to_date);
                window.showMmobj(mmobj[id]);
                $('.title_of_most_viewed').html(mmobj[id].series.title[locale]);
            }
        });
    };

    window.views_series = function(series, criteria, from_date, to_date, page, group_by) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
            group_by = data['group_by'];
        }

        var url = "{{ path('pumukit_stats_api_viewsseries') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                series: series,
                group_by: group_by,
                sort: 1
            },
            success: function(response) {
                var objects = response.views;
                var total = 1;
                $('.views-table-body').html('');
                objects.forEach(function(data) {
                    total = total + data.numView;
                    var format = window.getFormat(data);
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format(format) + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%;'>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

                data = window.prepareDataForAllViews(response.views);
                window.initializeChartAllViews(data);
            }
        });
    };

    window.views_mmobj = function(mmobj, criteria, from_date, to_date, page, group_by) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
            group_by = data['group_by'];
        }

        var url = "{{ path('pumukit_stats_api_viewsmmobj') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                mmobj: mmobj,
                group_by: group_by,
                sort: 1
            },
            success: function(response) {
                var objects = response.views;
                var total = 1;
                $('.views-table-body').html('');
                objects.forEach(function(data) {
                    total = total + data.numView;
                    var format = window.getFormat(data);
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format(format) + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%;'>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

                data = window.prepareDataForAllViews(response.views);
                window.initializeChartAllViews(data);
            }
        });
    };

    window.most_viewed_mmobj = function(criteria, from_date, to_date, page) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
        }

        var url = "{{ path('pumukit_stats_api_mmobjmostviewed') }}";
        if(criteria != null && criteria !==  '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                limit:10
            },
            success: function(response) {
                var mmobjs = response.mmobjs;
                var i = 1;
                var path = "{{ path('pumukit_stats_mmobj_index_id',{'id': '__ID__'}) }}";
                var url = "{{ path('pumukit_stats_series_index_id',{'id': '__ID__'}) }}";
                $('.total-objects').html(response.total);
                $('.most-viewed-table-body').html('');
                mmobjs.forEach(function(data) {
                    $('.most-viewed-table-body').append(
                        "<tr>" +
                        "<td headers='ranking'>" + i + "</td>" +
                        "<td headers='title'>" +
                        "<a href='" + path.replace('__ID__', data.mmobj.id) + "'>" +
                        data.mmobj.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='recording'>" + moment(data.mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') + "</td>" +
                        "<td headers='series'>" +
                        "<a href='" + url.replace('__ID__', data.mmobj.series.id) + "'>" +
                        data.mmobj.series.title[locale] +
                        "</a>" +
                        "</td>" +
                        "<td headers='views'>" + data.num_viewed + "</td>" +
                        "</tr>"
                    );
                    i = i + 1;
                });

                window.createPager(response);
                data = window.prepareDataMostViewedMmobj(response.mmobjs);
                window.initializeChartMostViewed(data);
            }
        });
    };

    window.views = function(criteria, from_date, to_date, page, group_by) {
        if(from_date == null || to_date == null) {
            var data = window.defaultAjaxValues();
            from_date = data['from_date'];
            to_date = data['to_date'];
            page = data['page'];
            group_by = data['group_by'];
        }

        var url = "{{ path('pumukit_stats_api_views') }}";
        if(criteria != null && criteria !== '') {
            url = url + "?criteria[$text][$search]=" + criteria;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                from_date: from_date,
                to_date: to_date,
                page: page,
                group_by: group_by,
                sort: 1
            },
            success: function(response){
                var objects = response.views;
                var total = 0;
                $('.views-table-body').html('');
                objects.forEach(function(data) {
                    total = total + data.numView;
                    var format = window.getFormat(data);
                    $('.views-table-body').append(
                        "<tr>" +
                        "<td headers='date' style='width:50%'>" + moment(data._id).format(format) + "</td>" +
                        "<td headers='views' class='text-right' style='width:50%; '>" + data.numView + "</td>" +
                        "</tr>"
                    );
                });
                $('.total-views-objects').html(total);
                $('#foot-views').html(total);

                data = window.prepareDataForAllViews(response.views);
                window.initializeChartAllViews(data);
            }
        });
    };

    window.getFormat = function(element) {
        var format = '';
        var number_format = (element['_id'].match(/-/g) || []).length;
        if(number_format === 1 ){
            format = 'MMMM YYYY';
        } else if (number_format === 2) {
            format = 'DD MMMM YYYY';
        } else {
            format = 'YYYY';
        }

        return format;
    };

    window.prepareDataForAllViews = function(data) {
        var values = [];

        data.forEach(function(element) {
            var timestamp = moment(element['_id']).valueOf();
            values.push([
                timestamp,
                element.numView
            ]);
        });

        return [{
            "key" : "",
            "bar": true,
            "values" : values
        }];
    };

    window.showMmobj = function(mmobj) {
        var url = "{{ path('pumukit_webtv_multimediaobject_index', {'id' : '__ID__' }) }}";
        $('#chart-most-viewed').html(
                    "<a href='" +
                    url.replace('__ID__', mmobj.id) +
                    "' target='_blank'>" +
                    "<div class='pumukit_mmobj'>"  +
                    "<div class='thumbnail'>" +
                    "<span class='play_icon'></span>" +
                    "<img title='serial_pic' class='serial thumbnailimg' " +
                    "src=" + mmobj.pics[0].url  + " /> " +
                    "<div class='thumbnailholder'></div></div>" +
                    "<div class='info-wrapper'>" +
                    "<div class='info'>" +
                    "<div class='title' title='"+ mmobj.title[locale] + "'>" +
                    "<span class='mmobj_thumbnail_title'>" + mmobj.title[locale] + "</span>" +
                    "</div>" +
                    "<div class='subtitle'>" +
                    "<abbr title='" + mmobj.subtitle[locale] + "'>"+ mmobj.subtitle[locale] +"</abbr>" +
                    "</div>" +
                    "<div class='date mmobj'>" +
                        moment(mmobj.record_date).format('YYYY-MM-DD HH:mm:ss') +
                    "</div>" +
                    "</div></div></div>"
        );

    };

    function range(num, page){
        var range;
        if (num > 6){
            if (page > 3 && page < num-3){
                range = [1,'...',page-1,page,page+1,'...',num];
            }else if (page <= 3){
                range = [1,2,3,4,'...',num];
            }else if (page >= num-2){
                range = [1,'...',num-3,num-2,num-1,num];
            } else {
                range = [1,'...',page,'...',num];
            }
        }else{
            range = Array.apply(null,Array(num)).map(function (x, i) { return i+1; });
        }
        return range;
    }


    /* Pager for most viewed series/mmobjs */
    window.createPager = function(data) {
        var count = Math.ceil(data.total / 10);
        var pages = count - 1;

        var active_page = parseInt("{{ app.request.get('page')|default(0) }}");
        var aPages = range(pages,active_page);
        var disabled_previous = '';
        var disabled_next = '';
        if(active_page === 0) { disabled_previous = 'disabled'; }
        if(active_page === pages) { disabled_next = 'disabled'; }

        var html = "<ul class='pagination'>";
        if(active_page === 0) {
            html = html + "<li class='" + disabled_previous + "'><a>{% trans %}Previous{% endtrans %}</a></li>";
        } else {
            html = html + "<li class='change_page' data-value='"+ (active_page -1) +"'>" +
                "<a>{% trans %}Previous{% endtrans %}</a>" +
                "</li>";
        }

        aPages.forEach(function(element) {
            var htmlPage = '';
            if(element !== '...') {
                if(element == active_page) {
                    htmlPage = "<li><a class='change_page' style='background-color:#EAEAEA;' data-value='" + element + "'>" + element + "</a></li>";

                } else {
                    htmlPage = "<li><a class='change_page' data-value='" + element + "'>" + element + "</a></li>";
                }
            } else {
                htmlPage = "<li><a>" + element + "</a></li>";
            }
            html = html + htmlPage;
        });

        if(active_page !== pages) {
            html = html + "<li><a class='change_page' data-value='"+ (active_page +1) +"'>{% trans %}Next{% endtrans %}</a></li></ul></div>";
        } else {
            html = html + "<li class='" + disabled_next + "'><a>{% trans %}Next{% endtrans %}</a></li></ul>";
        }

        $('.most-viewed-paginator').html(html);
    };

    /* Charts of views functions */
    window.initializeChartMostViewed = function(data) {

        $('#chart-most-viewed svg').html('');
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 30, right: 20, bottom: 50, left: 175})
                .showValues(false)
                .showControls(false)
                .showLegend(false);

            chart.yAxis
                .tickFormat(d3.format('~s'));

            d3.select('#chart-most-viewed svg')
                .datum(data)
                .transition().duration(500)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    };

    window.initializeChartAllViews = function(data) {

        $('#chart-all-views svg').html('');
        nv.addGraph(function() {
            var chart = nv.models.linePlusBarChart()
                .margin({top: 30, right: 60, bottom: 50, left: 70})
                .x(function(d,i) { return i })
                .y(function(d) { return d[1] })
                .color(d3.scale.category10().range())
                .showLegend(false);

            chart.xAxis
                .showMaxMin(false)
                .tickFormat(function(d) {
                    var dx = data[0].values[d] && data[0].values[d][0] || 0;
                    return d3.time.format('%x')(new Date(dx))
                });

            chart.y1Axis
                .tickFormat(d3.format('~s'));

            chart.bars.forceY([0]);

            d3.select('#chart-all-views svg')
                .datum(data)
                .transition().duration(500)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    };
</script>
